*{
	margin:0px;
	padding: 0px;
}
.jumb{
	display: flex;
	align-items: center;
	justify-content: center;
}

.jumbotron{
	padding: 30px;
}

.jumbotron h1{
	font-size: 20px;
	color:green;
}

.container{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

