<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>

<nav th:replace="fragments/header :: nav"></nav>

<div id="admin-section">
    <div class="admin-inner">
        <div class="container">
            <div class="d-flex flex-row">
                <div th:replace="fragments/adminSidebar :: admin-sidebar"></div>

                <div id="admin-content">
                    <form class="admin-form" th:action="@{/adminPage/users/newUser}" th:object="${newUser}"
                          th:method="post" method="post">
                        <ul class="global-errors" th:if="${#fields.hasErrors('global')}">
                            <li class="text-danger" th:each="err : ${#fields.errors('global')}"
                                th:text="${err}">Input is incorrect
                            </li>
                        </ul>
                        <div class="form-group">
                            <label for="newUserName">Name</label>
                            <input type="text" class="form-control" th:field="*{name}" id="newUserName"
                                   placeholder="Enter name">
                            <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                        </div>
                        <div class="form-group">
                            <label for="newUserSurname">Surname</label>
                            <input type="text" class="form-control" th:field="*{surname}" id="newUserSurname"
                                   placeholder="Enter surname">
                            <p class="text-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>
                        </div>
                        <div class="form-group">
                            <label for="newUserUsername">Username</label>
                            <input type="text" class="form-control" th:field="*{username}" id="newUserUsername"
                                   placeholder="Enter username">
                            <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                        </div>
                        <div class="form-group">
                            <label for="newUserEmail">Email address</label>
                            <input th:type="email" type="email" class="form-control" th:field="*{email}"
                                   id="newUserEmail" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.
                            </small>
                            <!--<span class="text-danger"  th:text="${alreadyRegisteredMessage}"></span>-->
                            <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                        </div>
                        <div class="form-group">
                            <label th:for="password" for="newUserPassword">Password</label>
                            <input type="password" class="form-control" th:field="*{password}"
                                   id="newUserPassword" placeholder="Password">
                            <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                        </div>
                        <div class="form-group">
                            <label th:for="matchingPassword" for="newUserMatchingPassword">Confirm Password</label>
                            <input type="password" class="form-control" th:field="*{matchingPassword}"
                                   id="newUserMatchingPassword" placeholder="Password">
                            <p class="text-danger" th:if="${#fields.hasErrors('matchingPassword')}"
                               th:errors="*{matchingPassword}"></p>
                        </div>
                        <a class="btn btn-dark" th:href="@{/adminPage/users}">Cancel</a>
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/jsScripts :: scripts"></div>

</body>
</html>