<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>


<nav th:replace="fragments/header :: nav"></nav>

<div id="admin-section">
    <div class="admin-inner">
        <div class="container">
            <div class="d-flex flex-row" >
                <div th:replace="fragments/adminSidebar :: admin-sidebar"></div>

                <div id="admin-content">
                    <div th:if="${roleHasBeenSaved}" class="alert alert-success" role="alert">
                        <strong>Well done!</strong> Role has been saved!!!
                    </div>
                    <div th:if="${roleHasBeenUpdated}" class="alert alert-success" role="alert">
                        <strong>Well done!</strong> Role has been updated!!!
                    </div>
                    <table class="table table-striped admin-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="role : ${roles}">
                            <td><a th:href="@{#}"><span
                                    th:text="${role.id}">1</span></a></td>
                            <td th:text="${role.name}">Role Name</td>
                            <td><a style="text-decoration: none;" th:href="@{/adminPage/roles/{id}(id=${role.id})}"
                                   class="edit-btn">
                                <i class="fa fa-edit"></i>Edit
                            </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="#" th:href="@{/adminPage/roles/newRole}"><button type="button" class="btn btn-primary">Add New Role</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>



</body>
</html>