<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>

<nav th:replace="fragments/header :: nav"></nav>

<div id="admin-section">
    <div class="admin-inner">
        <div class="container">
            <div class="d-flex flex-row" >
                <div th:replace="fragments/adminSidebar :: admin-sidebar"></div>

                <div id="admin-content" >
                    <form class="admin-form" th:action="@{/adminPage/roles/{id}(id=${role.id})}"
                          th:object="${role}" th:method="post" method="post">
                        <div class="form-group">
                            <label for="editRoleName">Name</label>
                            <input id="editRoleName" type="text" class="form-control" th:field="*{name}" >
                            <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

                        </div>
                        <a class="btn btn-dark" th:href="@{/adminPage/roles}">Cancel</a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/jsScripts :: scripts"></div>

</body>
</html>