<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<script src="https://use.fontawesome.com/c0c323679c.js"></script>


<body >

<nav th:replace="fragments/header :: nav"></nav>

<!-- HOME SECTION -->
<header id="home-section">
	<div class="dark-overlay">
		<div class="home-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 d-none d-lg-block">
						<div class="jumbotron" style="opacity: 0.9;">
							<h1 class="display-3">Hello, world!</h1>
							<p class="lead">This is a simple hero unit, a simple jumbotron-style component for
								calling extra attention to featured content or information.</p>
							<hr class="my-2">
							<p>It uses utility classes for typography and
								spacing to space content out within the larger container.</p>
							<p class="lead">
								<a class="btn btn-primary btn-lg" href="#!" role="button">Some action</a>
							</p>
						</div>
					</div>
					<div class="col-lg-4">

					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="container-fluid p-5" style="background:#F2F0E6;">
	<h1 class="display-4 mb-4">Free Courses</h1>
	<div class="card-deck mx-5">
		<div class="card">
			<img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
			<div class="card-body"> Some more card content </div>
		</div>
		<div class="card">
			<img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
			<div class="card-body"> Some more card content </div>
		</div>
		<div class="card">
			<img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
			<div class="card-body"> Some more card content </div>
		</div>
		<div class="card">
			<img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
			<div class="card-body"> Some more card content </div>
		</div>
	</div>
</div>

<div class="container-fluid p-5" style="background:#EFDECD;">
	<h1 class="display-4 mb-4">Paid Courses</h1>
	<div class="card-deck mx-3">
		<div class="card">
			<img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
			<div class="card-body"> Some more card content </div>
		</div>
		<div class="card">
			<img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
			<div class="card-body"> Some more card content </div>
		</div>
		<div class="card">
			<img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
			<div class="card-body"> Some more card content </div>
		</div>
		<div class="card">
			<img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
			<div class="card-body"> Some more card content </div>
		</div>
	</div>
</div>









<!-- Footer -->
<footer th:replace="fragments/footer :: footer"></footer>


<div th:replace="fragments/jsScripts :: scripts"></div>

</body>
</html>